/* ---- GENERAL ---- */

* {
    box-sizing: border-box;
}

body {
    background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png);
    font-family: 'Mulish', sans-serif;
    line-height: 1.5rem;
    font-size: 1.125rem;
}

h2, img, p {
    margin-bottom: 1.5rem;
}

ul {
    padding-bottom: .5rem;
    letter-spacing: .025rem;
}

h2 {
    font-size: 1.5rem;
}

img {
    width: 7.5rem;
}

a {
    text-decoration: none;
    color: #bd806e;
}

a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
}

.darktext {
    color: #444349;
}

.goldtext {
    color: #d2ba87;
}

.lighttext {
    color: hsla(0,0%,100%,.9);
}

.darkbackground {
    background-color: hsla(100,0%,0%,.6);
}

/* ---- HEADER ---- */

.cover {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 70% center/cover;
    height: 100vh;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    display:table;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
}

.rectangle {
    padding: 0.625rem;
    background:hsla(100,0%,0%,.5);
    width: 100%;
    border-radius: 4px;
    margin: 0 auto;
}

.headline, .title {
    font-family: 'Great Vibes', cursive;
    font-size: 3.15rem;
    text-align: center;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.headline {
    margin-bottom: 0;
    padding: .5rem;
}

.title {
    width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

.tagline, .date {
    /*text-transform: uppercase;*/
    font-weight: 6
    00;
    font-size: 1.25rem;
    padding-bottom: .5rem;
    letter-spacing: .15rem;
    margin-bottom: 0;
}

.tagline::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.515625rem;
    margin: .5rem auto;
}

.date::before, .date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    width: 1.5rem;
    height: 1px;
    vertical-align: middle;
    margin: 0 0.5rem;
}

/* ---- MAIN ---- */

main, html {
    width: 100%;
}

.locations, .gifts, .program, .qa, .contact {
    text-align: center;
    width:95%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.qacollection h2, .contact, .location h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
}

.qacollection h2, .contact {
    font-weight: 400;
}

.qa {
    padding-bottom: .5rem;
    font-size: 1.1rem;
    line-height: 1.5;
}

.qa, .program {
    width: 100%;
}

.qacollection {
    
    width: 95%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.qacollection::after {
    display: block;
    content: "";
    background-color: #d2ba87;
    width: 56%;
    height: .1825rem;
    margin: 1.5rem auto;
}

.location::after {
    display: block;
    content: "";
    background-color: #444349;
    width: 5rem;
    height: .1825rem;
    margin: 1.5rem auto;
}

.question, .answer {
    margin-bottom: .5rem;
    text-align: left;
}
.answer {
    margin-bottom: 1.5rem;
    letter-spacing: .025rem;
}

.question {
    font-weight: 700;
    letter-spacing: .025rem;
}

.programblock {
    width: 95%;
    margin: 0 auto;
    text-align: left;
    font-weight: 400;
}

.programblock p {
    font-style: italic;
}

.gifts {
    /*background-color: #bd806e;*/
    margin: 0 auto;
    padding: .5rem;
    
    font-family: 'Libre Baskerville', serif;
}


/* ---- FOOTER ---- */

footer {
    display: table;
    height: 10vh;
    width: 100%;
    color: #fff;
    background-color: #606060;
    text-align: center;
    font-size: .875rem;
    font-family: 'Mulish', sans-serif;
}

.footer-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: .5rem 1rem;
}

footer p {
    margin-bottom: 0;
    line-height: 1.5;
}

/* ---- MEDIA QUERIES ---- */

@media (min-width: 768px) {
    .tagline {
        text-transform: uppercase;
    }
    .headline {
        font-size: 7rem;
        line-height: 10rem;
        margin-bottom: 0;
    }
    .rectangle {
        padding: 1.25rem;
        width: 50vw;
    }
    .programblock {
        width: 30vw;
        margin: 0 auto;
    }
    .location {
        display: inline-block;
        width: 27vw;
        padding: 1.5rem;
        margin: .5rem;
    }
    .location::after {
        display: none;
    }
    .qacollection {
        display: inline-block;
        width: 30%;
        padding: 1.5rem;
        margin: .5rem;
        vertical-align: top;
    }
    .qacollection::after {
        display: none;
    }
    .qa h2 {
        text-align: left;
    }
    
}

/* ---- DEBUG ---- */
/*
.cover {
    border: 4px solid #ff4800;
    display: none;
}

.locations {
    
    background-color: aqua;
    border: 4px solid #ff4800;
    display: none;
}

.program {
    background-color: chartreuse;
    display: none;
}

.gifts {
    background-color: aqua;
    display: none;
}

.qa {
    background-color: chartreuse;
    /*display: none;*//*
}

.contact {
    background-color: aqua;
    /*display: none;*//*
}

footer {
    background-color: chartreuse;
    /*display: none;*//*
}*/



