/* ---- GENERAL ---- */

* {
    box-sizing: border-box;
}

body {
    background: url(https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png);
    font-family: 'Mulish', sans-serif;
    line-height: 1.5rem;
    font-size: 1.125rem;
}

h2, img, p {
    margin-bottom: 1.5rem;
}

ul {
    padding-bottom: 1.5rem;
    letter-spacing: .025rem;
}

h2 {
    font-size: 1.5rem;
}

img {
    width: 7.5rem;
}

a {
    text-decoration: none;
    color: #bd806e;
}

a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
}

.darktext {
    color: #444349;
}

.goldtext {
    color: #d2ba87;
}

.lighttext {
    color: hsla(0,0%,100%,.9);
}

.darkbackground {
    background-color: hsla(100,0%,0%,.6);
}

/* ---- HEADER ---- */

.cover {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 70% center/cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    display:table;
}

.wrapper {
    display: table-cell;
    vertical-align: middle;
}

.rectangle {
    padding: 0.625rem;
    background:hsla(100,0%,0%,.6);
    width: 100%;
    border-radius: 4px;
    margin: 0 auto;
    line-height: 2.1rem;
}

.headline, .title {
    font-family: 'Great Vibes', cursive;
    font-size: 3.15rem;
    text-align: center;
    line-height: 3.5rem;
    margin-bottom: 0;
}

.headline {
    padding: 1rem;
}

.title {
    padding: 2rem;
}

.tagline, .date {
    /*text-transform: uppercase;*/
    font-weight: 900;
    font-size: 1.25rem;
    padding-bottom: .5rem;
    letter-spacing: .15rem;
    margin-bottom: 0;
}

.tagline::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.515625rem;
    margin: .5rem auto;
}

.date::before, .date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    width: 1.5rem;
    height: 1px;
    vertical-align: middle;
    margin: 0 0.5rem;
}

/* ---- MAIN ---- */

.locations, .gifts, .program, .qa, .contact {
    margin: 1rem auto;
    padding: 1rem 1rem;
    text-align: center;
}



.qacollection::after {
    display: block;
    content: "";
    background-color: #d2ba87;
    width: 50%;
    height: .1825rem;
    margin: 1.5rem auto;
}

.location::after {
    display: block;
    content: "";
    background-color: #444349;
    width: 5rem;
    height: .1825rem;
    margin: 1.5rem auto;
}

.question, .answer {
    margin-bottom: 1rem;
    text-align: left;
}

.programblock {
    width: 95%;
    text-align: left;
    font-weight: 700;
}

.programblock p {
    font-style: italic;
}

.gifts {
    /*background-color: #bd806e;*/
    margin: 0 auto;
    padding: .5rem;
    width: 95%;
}


/* ---- FOOTER ---- */





